<%-include("../partials/header")%>

<div class="container">
   <div class="row">
    <h1 style="text-align: center" class="login">Sign Up</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/doctor/register" method="post">
            <div class="form-group">
				<label for="username">username:</label>
                <input class="form-control" id="username" type="text" name="username" placeholder="username" required="true">
            </div>
			<div class="form-group">
				<label for="firstname">First Name:</label>
                <input class="form-control" id="firstname" type="text" name="firstName" placeholder="First Name" required="true">
            </div>
			<div class="form-group">
				<label for="lastname">Last Name:</label>
                <input class="form-control" id="lastname" type="text" name="lastName" placeholder="Last Name" required="true">
            </div>
			<div class="form-group">
				<label for="email">Email-Id:</label>
                <input class="form-control" id="email" type="email" name="email" placeholder="Email-Id" required="true">
            </div>
			<div class="form-group">
				<label for="avatar">Profil picture:</label>
                <input class="form-control" id="avatar" type="text" name="avatar" placeholder="avatar url" required="true">
            </div>
            <div class="form-group">
				<label for="password">Password:</label>
                <input class="form-control" id="password" type="password" name="password" placeholder="password" required="true">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
            </div>
        </form>
        <a href="/" class="login">Go Back</a>
    </div>
  </div>
</div>

<%-include("../partials/footer")%>
