<!DOCTYPE html>
<html>
    <head>
        <title>E-HOSPITAL</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/home.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    <div id="landing-header">
 		<h1>Welcome to E-HOSPITAL!</h1>
		<p>
			<a href="/doctor/login" class="btn btn-lg btn-success">click here to visit Doctor's Login Page</a>
		</p>
		<p>
			<a href="/patient/login" class="btn btn-lg btn-success">click here to visit Patient's Login Page</a>
		</p>
		
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<%-include("partials/footer")%>
